# ANIME RECOMMENDER SYSTEM - MERGE ANIME & RATING DF - PIVOT TABLE - IMG WITH PCA

In [1]:
# basic library
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import itertools
import collections
import pickle

In [2]:
# load data
anime_df = pd.read_csv('dataset/processed_dataset/anime.csv')
anime_df.head(10)

,anime_id,score,rating_count,ranked,popularity,members,type,studio,episode_count,Action,...,90.1,91.1,92.1,93.1,94.1,95.1,96.1,97.1,98.1,99.1
0,1,0.960483,0.341453,0.001762,0.001828,0.472131,4,743,0.008505,1,...,0.651036,-0.428850,-0.586569,0.925561,-1.964622,-0.970371,0.213366,-0.520931,-0.896485,-0.269872
1,5,0.919868,0.077942,0.008438,0.024833,0.096935,0,103,0.000327,1,...,0.415283,-0.667962,-0.336572,-0.621967,-0.980100,0.984162,-0.323787,-0.617287,0.246279,0.026887
2,6,0.902305,0.132747,0.014975,0.010461,0.191726,4,399,0.008505,1,...,-0.019047,1.004433,0.182018,0.758380,-0.228489,-0.749997,-0.369441,-0.575525,0.350506,-0.365582
3,7,0.795829,0.016483,0.126895,0.073309,0.030338,4,743,0.008505,1,...,-0.399502,-0.634783,-0.173630,-1.301357,-1.971901,-0.923313,-0.178119,0.928507,-0.047225,-0.441551
4,8,0.762898,0.002469,0.193472,0.211081,0.004085,4,789,0.017010,0,...,1.143058,0.230385,-1.280371,0.143960,-1.881959,0.276391,-1.020196,0.346704,1.946555,1.285465
5,15,0.869374,0.033157,0.031851,0.050814,0.048334,4,252,0.047432,0,...,0.648881,0.141269,0.765937,1.178704,0.127013,-1.455772,-1.442604,-1.051233,0.515302,0.080174
6,16,0.879254,0.031420,0.026241,0.034953,0.070674,4,315,0.007851,0,...,-0.072043,0.472607,0.004454,0.727415,0.587552,-0.063592,0.591860,0.364712,-0.550957,0.187238
7,17,0.828760,0.004970,0.070842,0.173449,0.006559,4,453,0.017010,0,...,-0.833620,0.340456,0.768887,-0.900609,0.477655,0.395830,0.642415,-0.281585,-0.393477,-1.047649
8,18,0.894621,0.036159,0.018638,0.053451,0.045360,4,10,0.007851,1,...,-0.280104,0.162370,-0.665289,0.300360,0.727021,-1.665487,-1.227716,-0.466622,0.843665,-0.810025
9,19,0.971460,0.128994,0.001066,0.006336,0.256578,4,399,0.024207,0,...,0.299644,-0.045306,-0.761415,0.210284,-1.492504,0.419113,-1.057611,-0.609704,0.711429,0.455868

In [3]:
anime_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23765 entries, 0 to 23764
Columns: 285 entries, anime_id to 99.1
dtypes: float64(206), int64(79)
memory usage: 51.7 MB

In [4]:
# load data
rating_df = pd.read_csv('dataset/processed_dataset/rating.csv')
rating_df.head()

   user_id     score  num_watched_episodes  created_at  updated_at  anime_id
0        2  0.333333                   0.0    0.955898    0.955868     51478
1        2  0.333333                   0.0    0.489645    0.489585     20707
2        2  0.444444                   0.0    0.320126    0.405519      6408
3        2  0.444444                   0.0    0.780366    0.780325     38045
4        2  0.555556                   0.0    0.925591    0.925560     49668

In [5]:
rating_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1488975 entries, 0 to 1488974
Data columns (total 6 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   user_id               1488975 non-null  int64
 1   score                 1488975 non-null  float64
 2   num_watched_episodes  1488975 non-null  float64
 3   created_at            1488975 non-null  float64
 4   updated_at            1488975 non-null  float64
 5   anime_id              1488975 non-null  int64
dtypes: float64(4), int64(2)
memory usage: 68.2 MB

create dummy rating

print avg to create dummy rating

In [6]:
# print average
def printAvg(df, col):
    print("Average: " + str(df[col].mean()))

In [7]:
printAvg(rating_df, 'score')
printAvg(rating_df, 'num_watched_episodes')
printAvg(rating_df, 'created_at')
printAvg(rating_df, 'updated_at')

Average: 0.742121332534872
Average: 0.0018910113034507044
Average: 0.3647528483821663
Average: 0.4179710567586606

In [8]:
list_user_id = []
list_score = []
list_num_watched_episodes = []
list_created_at = []
list_updated_at = []
list_anime_id = []

In [9]:
for i, row in anime_df.iterrows():
    list_user_id.append(1500022)
    list_score.append(0.742121)
    list_anime_id.append(row.anime_id)

In [10]:
list_tuples = list(zip(list_user_id, list_score, list_anime_id))

In [11]:
rating_dummy = pd.DataFrame(list_tuples, columns=['user_id', 'user_score', 'anime_id'])

In [12]:
rating_dummy.head()

   user_id     score  num_watched_episodes  created_at  updated_at  anime_id
0        1  0.742121                     0    0.364752    0.417971       1.0
1        1  0.742121                     0    0.364752    0.417971       5.0
2        1  0.742121                     0    0.364752    0.417971       6.0
3        1  0.742121                     0    0.364752    0.417971       7.0
4        1  0.742121                     0    0.364752    0.417971       8.0

In [13]:
rating_df = rating_df.append(rating_dummy)

In [14]:
rating_df.rename(columns = {'score':'user_score'}, inplace = True)

In [15]:
merge_df = pd.merge(rating_df, anime_df, how='left')
merge_df.head()

,user_id,user_score,num_watched_episodes,created_at,updated_at,anime_id,score,rating_count,ranked,popularity,...,90.1,91.1,92.1,93.1,94.1,95.1,96.1,97.1,98.1,99.1
0,2,0.333333,0.0,0.955898,0.955868,51478.0,0.657519,0.000078,0.433446,0.659523,...,0.596212,0.217721,1.838360,0.042340,1.145339,1.070628,0.395487,-1.646196,1.079035,-1.950778
1,2,0.333333,0.0,0.489645,0.489585,20707.0,0.510428,0.000886,0.606797,0.359825,...,0.618644,0.333750,-0.046266,-0.050403,1.197766,1.141678,0.875986,0.018911,0.321838,1.493473
2,2,0.444444,0.0,0.320126,0.405519,6408.0,0.806806,0.010543,0.104873,0.101118,...,-1.522952,-1.433554,1.273498,-0.232032,-1.653154,0.006966,-0.411651,-0.085913,-0.046999,0.126875
3,2,0.444444,0.0,0.780366,0.780325,38045.0,0.521405,0.000117,0.602439,0.582302,...,2.165188,0.823112,0.968126,0.878279,-0.050054,-1.010264,1.898099,0.380272,1.962767,0.592570
4,2,0.555556,0.0,0.925591,0.925560,49668.0,0.665203,0.000067,0.417080,0.667900,...,-1.620628,1.724651,-1.421249,-0.439511,1.317626,-1.062979,-0.975355,-0.172202,-0.323175,-1.700174

In [16]:
merge_df.count()

user_id                 1512740
user_score              1512740
num_watched_episodes    1512740
created_at              1512740
updated_at              1512740
                         ...
95.1                    1512740
96.1                    1512740
97.1                    1512740
98.1                    1512740
99.1                    1512740
Length: 290, dtype: int64

In [18]:
pivot_tab = rating_df.pivot_table(index=['user_id'], columns=['anime_id'], values='user_score').fillna(0)
pivot_tab.head()

anime_id,1.0,5.0,6.0,7.0,8.0,15.0,16.0,17.0,18.0,19.0,...,53798.0,53799.0,53800.0,53801.0,53802.0,53803.0,53804.0,53805.0,53806.0,53807.0
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.742121,0.742121,0.742121,0.742121,0.742121,0.742121,0.742121,0.742121,0.742121,0.742121,...,0.742121,0.742121,0.742121,0.742121,0.742121,0.742121,0.742121,0.742121,0.742121,0.742121
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,1.000000,0.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,1.000000,0.000000,0.777778,0.000000,0.000000,0.000000,0.000000,0.000000,0.777778,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [19]:
merge_df.to_csv('dataset/processed_dataset/merged.csv', index=False)

In [ ]:
with open('./dataset/processed_dataset/pivot_tab.pkl','wb') as f:
    pickle.dump(pivot_tab, f)